---
layout: default
---

		<!--Header Section-->
		<section class="bg-gradient pt-5 pb-6">
			<div class="container">

				<!--Navbar-->
				{% include navbar.html %}
				
				<!--Header-->
				<div class="row mt-6 justify-content-center">
					<div class="col-md-4">
						<img src="{{ site.baseurl }}/images/albumart.jpg" class="img-fluid albumart" alt="Albumart">
					</div>
					<div class="col-md-4 my-auto">
						<h1 class="mb-0">{{ site.name }}</h1>
						<p class="lead">{{ site.description }}</p>
						<button id="play" type="button" class="btn btn-success"><i class="fa fa-play" aria-hidden="true"> </i> 
							Latest Episode</button>
						</div>
				</div>

			</div>
		</section>

    <section class="py-6">
      <div class="container">
        {% for post in site.posts %}
        <div class="row justify-content-md-center">
          <div class="col-md-8">
              <a href="{{ site.baseurl }}{{ post.url }}">
				<p class="text-muted mb-0">{{ post.date | date: "%B %e, %Y" }}</p>
                <h2 class="text-center text-md-left">{{ post.title }}</h2>  
              </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>