<footer class="py-6 bg-light">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-4">
                <h3 class="text-black">{{ site.name }}</h3>
                <p>© {{ 'now' | date: "%Y" }} {{ site.name }}. All Rights Reserved.</p>
            </div>
            <div class="col-md-4 text-right my-auto">
                {% include social-icons.html %}
                <p class="text-muted small text-uppercase mt-4">Follow us on social media</p>
            </div>
        </div>
    </div>
</footer>