<div class="row">
    <div class="col-12 d-flex flex-row align-items-center justify-content-between">
        <div class="heading-brand">{{ site.name }}</div>
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Subscribe <i class="fa fa-rss" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <h6 class="dropdown-header">Platform</h6>
                    <a class="dropdown-item" href="#"><i class="fa fa-apple" aria-hidden="true"></i> iTunes</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-google" aria-hidden="true"></i> Google Play Music</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-spotify" aria-hidden="true"></i> Spotify</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-rss" aria-hidden="true"></i> Podcast RSS</a>
                </div>
            </div>
        </div>
    </div>
</div>