<ul class="list-inline social social-inverse social-rounded social-sm">
    {% if site.footer-links.twitter %}<li class="list-inline-item"><a href="https://www.twitter.com/{{ site.footer-links.twitter }}"><i class="fa fa-twitter"></i></a></li>{% endif %}
    {% if site.footer-links.facebook %}<li class="list-inline-item"><a href="https://www.facebook.com/{{ site.footer-links.facebook }}"><i class="fa fa-facebook"></i></a></li>{% endif %}
    {% if site.footer-links.instagram %}<li class="list-inline-item"><a href="https://instagram.com/{{ site.footer-links.instagram }}"><i class="fa fa-instagram"></i></a></li>{% endif %}
    {% if site.footer-links.youtube %}<li class="list-inline-item"><a href="https://youtube.com/{{ site.footer-links.youtube }}"><i class="fa fa-youtube"></i></a></li>{% endif %}
</ul>