---
layout: base
---

    <section class="py-6">
      <div class="container">
        {% for post in site.posts %}
        <div class="row justify-content-md-center">
          <div class="col-md-8">
              <a href="{{ site.baseurl }}{{ post.url }}">
				<p class="text-muted mb-0">{{ post.date | date: "%B %e, %Y" }}</p>
                <h2 class="text-center text-md-left">{{ post.title }}</h2>  
              </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>